<app-loading></app-loading>
<div class="working">
  <div class="start-column"></div>
  <div class="center-column">
    <div class="header-work d-flex align-items-center justify-content-between">
      <div class="input-group w-50">
        <input type="text" class="form-control" placeholder="Project Code" />
        <button class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <app-join></app-join>
    </div>
    <div class="body-work">
      <h3>You haven't participated in any projects yet?</h3>
    </div>
  </div>
  <div class="end-column"></div>
</div>
