<div class="alert">
  <div class="img-contact">
    <img src="https://picsum.photos/200/300" />
    <img src="https://picsum.photos/200/300" />
  </div>
  <div class="alert-messages text-center">
    <h3 class="alert-messages__title">Grinding Engular</h3>
    <p class="alert-messages__content">
      You have been invited to join this group
    </p>
  </div>
  <div class="alert-action">
    <button class="btn btn-primary">Join Group</button>
    <button class="btn btn-outline-primary">Cancel</button>
  </div>
</div>
