<div
  class="alert mb-5"
  *ngFor="let item of receivedUser | slice : 0 : 1; let i = index"
>
  <div class="img-contact">
    <img [src]="myUser.avatar" />
    <img [src]="item.avatar" />
  </div>
  <div class="alert-messages text-center">
    <h3 class="alert-messages__title">{{ item.fullName }}</h3>
    <p class="alert-messages__content">
      You have received an invitation to follow your profile
    </p>
  </div>
  <div class="alert-action">
    <button class="btn btn-primary" (click)="accept(item.username)">
      Accept
    </button>
    <button class="btn btn-outline-primary" (click)="reject(item.username)">
      Cancel
    </button>
  </div>
</div>
