.profile {
  border-radius: 10px;
  margin: 0 10%;

  .main-info {
    position: relative;
    width: 100%;
    background-color: #fff;
    .cover-img {
      img {
        width: 100%;
        height: 35rem;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-position: center;
      }
    }

    .dropdown-menu {
      border-radius: 5px;
      background-color: #eeeeee;
      color: #333436;
      border: none;
      cursor: pointer;
      li {
        i {
          font-size: 1rem;
        }
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        &:hover {
          border-radius: 5px;
          background-color: #0866ff;
          color: #fff;
        }
      }
    }

    .infomation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      border-bottom: 1px solid #ccc;

      .avatar {
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        h2 {
          font-size: 2rem;
          font-weight: 700;
          margin: 0;
        }
        .avatar-img {
          position: relative;
          img {
            border: 1px solid #0866ff;
            padding: 2px;
            background-color: #fff;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 50%;
            margin-top: -20%;
          }
          label {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: #e2e2e2;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            cursor: pointer;
          }
        }
      }

      .action {
        display: flex;
        align-items: center;
        .btn {
          border: none;
          outline: none;
          padding: 0.5rem 1.5rem;
          border-radius: 5px;
          font-weight: 600;
          font-size: 0.8rem;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .nav-menu {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 2rem;

      .nav-link {
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: #aaa;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        &:hover {
          opacity: 0.8;
        }
      }
      .active {
        color: #0866ff;
        border-bottom: 3px solid #0866ff;
      }
    }
  }

  .body-info {
    padding: 1rem 0;
  }
}
