.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  i {
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  cursor: pointer;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .loading {
    i {
      font-size: 50px;
    }
  }
}
