/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import "@ctrl/ngx-emoji-mart/picker";

:root {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #334866;
}

button:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  html {
    overflow-x: hidden;
    font-size: 14px;
  }
}
