<div class="title mb-5">
  <h2>
    Online Contacts
    <i
      class="fa-solid fa-circle"
      [ngStyle]="{
        color: friends && friends.length > 0 ? '#23be7e' : '#dc3545',
      }"
    ></i>
  </h2>
  <button class="btn"><i class="fa-solid fa-ellipsis"></i></button>
</div>

<div class="contacts">
  <ng-container *ngIf="friends && friends.length > 0">
    <div class="friend-list" *ngFor="let item of friends">
      <app-friends
        [frAvatar]="item.avatar"
        [frName]="item.fullName"
        [frUsername]="item.username"
      ></app-friends>
    </div>
  </ng-container>
  <ng-container *ngIf="friends && friends.length <= 0">
    <p class="text-center py-3 px-2 text-secondary fw-semibold">
      <i class="mx-2 fa-solid fa-spinner fa-spin fa-spin-reverse"></i> No online
      contacts found
    </p>
  </ng-container>
</div>
