<div class="story">
  <img class="bg-story" src="https://picsum.photos/200/300" />
  <div class="user__story">
    <img
      src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-6/375977329_3593526804227457_1894341850510545590_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=Qmt18iCMMrwAX_a3jo9&_nc_ht=scontent.fhan14-3.fna&oh=00_AfBcSCvvNu9B8m5I5zi89-8cLKE4FytbVKxZXTvaU61g9g&oe=6520D370"
      class="user__story__avatar"
    />
    <h3 class="user__story__name">Cong Tuan</h3>
  </div>
</div>
