<app-loading [isLoading]="isLoading"></app-loading>

<div class="update-status">
  <button
    class="btn btn-status"
    data-bs-toggle="modal"
    data-bs-target="#update-status"
  >
    What's on you mind,
    {{ isAuth && isAuth.fullName ? isAuth.fullName : "Unknown" }}?
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="update-status"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="update-statusLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="profile">
          <img src="{{ isAuth && isAuth.avatar ? isAuth.avatar : ava }}" />
          <div class="profile-info">
            <h3 class="profile-info__name">
              {{ isAuth && isAuth.fullName ? isAuth.fullName : "Unknown" }}
            </h3>
            <p class="profile-info__time">{{ time }}</p>
          </div>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body border-0">
        <form
          class="form-group w-100"
          [formGroup]="postForm"
          (submit)="onSubmit()"
        >
          <p *ngIf="selectedEmoji?.native">
            I'm feeling {{ selectedEmoji?.native }}
          </p>
          <textarea
            class="form-control border-0"
            rows="5"
            placeholder="What's on you mind, {{
              isAuth && isAuth.fullName ? isAuth.fullName : 'Unknown'
            }}?"
            formControlName="content"
          ></textarea>

          <app-list-image
            [imageList]="imageList"
            [videoList]="videoList"
            [editable]="editable"
          ></app-list-image>

          <div id="preview"></div>
          <div class="media-form">
            <p>Add to your post</p>
            <label for="removeImg" title="Remove all media">
              <i class="fa-regular fa-xmark" style="color: #0866ff"></i>
            </label>
            <button
              class="btn btn-close d-none"
              (click)="removeImg($event)"
              id="removeImg"
              type="button"
            ></button>
            <label for="images" title="Images"
              ><i class="fa-regular fa-images" style="color: #45bd62"></i
            ></label>
            <input
              type="file"
              id="images"
              name="images"
              accept="image/png, image/jpeg"
              class="d-none"
              (change)="onFileChange($event)"
              multiple
            />
            <label for="video" title="Video">
              <i class="fa-solid fa-photo-film" style="color: #0866ff"></i>
            </label>
            <input
              type="file"
              id="video"
              name="video"
              accept="video/mp4"
              class="d-none"
              (change)="onVideoChange($event)"
            />
            <label
              for="emoji"
              title="Emoji"
              data-bs-toggle="modal"
              data-bs-target="#emojiList"
            >
              <i class="fa-regular fa-smile" style="color: #f7b928"></i>
            </label>
          </div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (submit)="onSubmit()"
              data-bs-dismiss="modal"
            >
              Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Emoji-->
<div class="modal fade" id="emojiList" data-bs-backdrop="static" tabindex="1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content emoji-dialog">
      <emoji-mart
        (emojiClick)="addEmoji($event)"
        [set]="'facebook'"
        [skin]="2"
        [showPreview]="false"
        [enableSearch]="false"
      ></emoji-mart>
      <p class="my-0 mx-2">Feeling/Activity {{ selectedEmoji?.native }}</p>
      <div class="modal-footer border-0 mt-0">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#update-status"
          (click)="removeEmoji()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#update-status"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
