<ng-container
  *ngIf="
    currentUser.work &&
    currentUser.work.position &&
    currentUser.work &&
    currentUser.work.company
  "
>
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-briefcase"></i>
    </div>
    <div class="text">
      <p>
        {{ currentUser.work.position }} at
        <a
          href="https://www.google.com/search?q={{ currentUser.work.company }}"
          target="_blank"
          >{{ currentUser.work.company }}</a
        >
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.secondarySchool">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-school-flag"></i>
    </div>
    <div class="text">
      <p>
        Studied at
        <a
          href="https://www.google.com/search?q={{
            currentUser.secondarySchool
          }}secondary school"
          target="_blank"
          >{{ currentUser.secondarySchool }}</a
        >
        secondary school
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.highSchool">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-school"></i>
    </div>
    <div class="text">
      <p>
        Studied at
        <a
          href="https://www.google.com/search?q={{
            currentUser.highSchool
          }}high school"
          target="_blank"
          >{{ currentUser.highSchool }}</a
        >
        high school
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.college">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-graduation-cap"></i>
    </div>
    <div class="text">
      <p>
        Studied at
        <a
          href="https://www.google.com/search?q={{
            currentUser.college
          }} college"
          target="_blank"
          >{{ currentUser.college }}</a
        >
        college
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.university">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-building-columns"></i>
    </div>
    <div class="text">
      <p>
        Studied at
        <a
          href="https://www.google.com/search?q={{
            currentUser.university
          }} university"
          target="_blank"
          >{{ currentUser.university }}</a
        >
        university
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.birthday">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-cake-candles"></i>
    </div>
    <div class="text">
      <p>
        Born on
        {{ currentUser.birthday | date }}
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.linkedin">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="text">
      <a
        class="fw-normal text-primary"
        href="https://www.linkedin.com/in/{{ currentUser.linkedin }}"
        target="_blank"
        >{{ currentUser.linkedin }}</a
      >
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.facebook">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="text">
      <a
        class="fw-normal text-primary"
        href="https://www.facebook.com/{{ currentUser.facebook }}"
        target="_blank"
        >{{ currentUser.facebook }}</a
      >
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.instagram">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="text">
      <a
        class="fw-normal text-primary"
        href="https://www.instagram.com/{{ currentUser.instagram }}"
        target="_blank"
        >{{ currentUser.instagram }}</a
      >
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.twitter">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="text">
      <a
        class="fw-normal text-primary"
        href="https://www.twitter.com/{{ currentUser.twitter }}"
        target="_blank"
        >{{ currentUser.twitter }}</a
      >
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.hometown">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-house-chimney"></i>
    </div>
    <div class="text">
      <p>
        From
        <a
          href="https://www.google.com/search?q={{ currentUser.hometown }}"
          target="_blank"
          >{{ currentUser.hometown }}</a
        >
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.live">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="text">
      <p>
        Live in
        <a
          href="https://www.google.com/search?q={{ currentUser.live }}"
          target="_blank"
          >{{ currentUser.live }}</a
        >
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser.relationship">
  <div class="about">
    <div class="icon d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="text">
      <p>
        {{ currentUser.relationship }}
      </p>
    </div>
  </div>
</ng-container>
