<app-loading [isLoading]="isLoading"></app-loading>
<div class="list-feed">
  <div class="post" *ngFor="let item of posts">
    <div class="title-post">
      <div class="avatar">
        <img src="{{ item.user.avatar }}" alt="avatar" />
      </div>
      <div class="info mx-3">
        <div class="name d-flex flex-column">
          <a [routerLink]="[item.user.username]">{{ item.user.fullName }}</a>
          <small>{{ calculateTime(item.time) }}</small>
        </div>
      </div>
      <div class="action ms-auto dropdown-center">
        <button
          class="btn dropdown-toggle border-0"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <ul class="dropdown-menu">
          <ng-container *ngIf="item.user.username === userName">
            <li>
              <button class="dropdown-item" (click)="removePost(item._id)">
                <i class="fa-regular fa-square-minus mx-3"></i>
                Delete
              </button>
            </li>
            <li>
              <button class="dropdown-item">
                <i class="fa-regular fa-edit mx-3"></i>
                Edit
              </button>
            </li>
          </ng-container>
          <li>
            <button class="dropdown-item" (click)="openLink(item.id)">
              <i class="fa-regular fa-copy mx-3"></i>
              Open Post
            </button>
          </li>
        </ul>
      </div>
    </div>
    <p class="mx-3 text-dark-emphasis" *ngIf="item.emoji?.native">
      feeling {{ item.emoji?.native }} today
    </p>
    <p class="content-text">{{ item.content }}</p>

    <app-list-image
      [imageList]="item.images"
      [videoList]="item.video"
      [editable]="editable"
    ></app-list-image>

    <div class="footer d-flex justify-content-end p-1 my-2">
      <button
        class="btn border-0 position-relative"
        (click)="likePost(item._id)"
      >
        <i
          class="bi bi-hand-thumbs-up{{
            checkStatusLike(item.like) ? '-fill' : ''
          }}"
        ></i>
        <span
          *ngIf="item.like.length > 0"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary my-2"
        >
          {{ item.like.length }}
        </span>
      </button>
      <button
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapseComment' + item._id"
        aria-expanded="false"
        [attr.aria-controls]="'collapseComment' + item._id"
        class="btn border-0 mx-2 position-relative"
      >
        <i class="bi bi-chat-right-quote"></i>
        <span
          *ngIf="item.comment.length > 0"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary my-2"
        >
          {{ item.comment.length }}
        </span>
      </button>
      <button class="btn border-0" (click)="copyLink(item.id)">
        <i class="bi bi-share"></i>
      </button>
    </div>
    <app-comment
      [id]="item._id"
      [commentList]="item.comment"
      [myUser]="myUser._id"
    ></app-comment>
  </div>
</div>
