<ng-container>
  <div class="timeline">
    <div class="grid-item">
      <div class="authentication">
        <i
          class="fa-solid fa-fingerprint"
          [ngStyle]="{ color: this.currentUser.verify ? '#0866ff' : '#999' }"
        ></i>
        <div class="text-mes">
          <p>
            The account
            {{
              this.currentUser.verify ? "has been verified" : "is not verified"
            }}
          </p>
          <a class="text-decoration-none">Read more</a>
        </div>
      </div>
      <div class="introduction">
        <h2>Introduction</h2>
        <app-bio
          [myUser]="authUser"
          [currentUser]="currentUser"
          [permission]="permission"
        ></app-bio>
        <app-about-item
          [myUser]="authUser"
          [currentUser]="currentUser"
        ></app-about-item>
        <button
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#editFormModal"
          *ngIf="permission"
        >
          Edit Profile
        </button>
      </div>
    </div>
    <div class="grid-item">
      <app-update-status
        [isAuth]="authUser"
        *ngIf="permission"
      ></app-update-status>
      <app-post
        [posts]="posts"
        [currentUser]="currentUser"
        [myUser]="authUser"
      ></app-post>
    </div>
  </div>
  <app-form-edit [userInfo]="authUser" *ngIf="permission"></app-form-edit>
</ng-container>
