<div class="header">
  <div class="nav">
    <div class="nav-empty"></div>
    <div class="nav-links">
      <a
        class="nav-item"
        [routerLink]="['/home']"
        [routerLinkActive]="['active']"
        >Home</a
      >
      <a
        class="nav-item"
        [routerLink]="['/notification']"
        [routerLinkActive]="['active']"
        >In Working</a
      >
      <a
        class="nav-item"
        [routerLink]="['/marketplace']"
        [routerLinkActive]="['active']"
        >Assignment Job</a
      >
      <a
        class="nav-item"
        [routerLink]="['/watch']"
        [routerLinkActive]="['active']"
        >Watch</a
      >
      <a
        class="nav-item"
        [routerLink]="['/group']"
        [routerLinkActive]="['active']"
        >Group</a
      >
      <a
        class="nav-item"
        [routerLink]="['/live']"
        [routerLinkActive]="['active']"
        >Drama</a
      >
    </div>
    <div class="nav-setting">
      <button class="btn btn-light">
        <i class="fa fa-search"></i>
      </button>
      <img
        src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-6/375977329_3593526804227457_1894341850510545590_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=Qmt18iCMMrwAX_a3jo9&_nc_ht=scontent.fhan14-3.fna&oh=00_AfBcSCvvNu9B8m5I5zi89-8cLKE4FytbVKxZXTvaU61g9g&oe=6520D370"
        class="img-avatar"
        [routerLink]="['/profile']"
      />
    </div>
  </div>
</div>
