<div class="header" *ngIf="authUser">
  <div class="nav">
    <div class="nav-empty"></div>
    <div class="nav-links">
      <a
        class="nav-item"
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
        >Home</a
      >
      <a
        class="nav-item"
        [routerLink]="['/notification']"
        [routerLinkActive]="['active']"
        >In Working</a
      >
      <a
        class="nav-item"
        [routerLink]="['/marketplace']"
        [routerLinkActive]="['active']"
        >Assignment Job</a
      >
      <a
        class="nav-item"
        [routerLink]="['/watch']"
        [routerLinkActive]="['active']"
        >Watch</a
      >
      <a
        class="nav-item"
        [routerLink]="['/group']"
        [routerLinkActive]="['active']"
        >Group</a
      >
      <a
        class="nav-item"
        [routerLink]="['/live']"
        [routerLinkActive]="['active']"
        >Drama</a
      >
    </div>
    <div class="nav-setting">
      <button
        class="btn btn-debug"
        (click)="logout()"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
      >
        <i
          class="fa-solid fa-lock-open me-2"
          [ngClass]="{ 'fa-bounce': isHovered }"
        ></i>
        Logout
      </button>
      <img
        [src]="authUser.avatar"
        class="img-avatar"
        [routerLink]="['profile/', authUser.account.username]"
      />
    </div>
  </div>
</div>
