.homepage {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-gap: 1rem;
  padding: 1rem;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2 {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
      i {
        font-size: 0.5rem;
        color: #23be7e;
        margin-left: 0.5rem;
      }
    }

    .btn {
      border: none;
      outline: none;
      i {
        font-size: 1.5rem;
        color: #aaa;
      }
    }
  }
}
