<ng-container *ngFor="let item of commentList">
  <div class="cmt-item my-2">
    <div class="user">
      <img src="{{ item.user.avatar }}" class="user__avatar" />
    </div>
    <div class="content-group">
      <div class="content">
        <p class="username">{{ item.user.fullName }}</p>
        <p class="text">{{ item.content }}</p>
      </div>
      <small class="ms-4">{{ calculateTime(item.time) }}</small>
    </div>
    <div class="action ms-auto dropdown-center">
      <button
        class="btn dropdown-toggle border-0"
        data-bs-toggle="dropdown"
        aria-expanded="true"
      >
        <i class="fa-solid fa-ellipsis"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item" (click)="removeComment(item.id)">
            <i class="fa-regular fa-square-minus mx-3"></i>
            Delete
          </button>
        </li>
        <li>
          <button class="dropdown-item">
            <i class="fa-regular fa-edit mx-3"></i>
            Edit
          </button>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
