<div class="cmt-item">
  <div class="user">
    <img src="https://picsum.photos/200" class="user__avatar" />
  </div>
  <div class="content">
    <p class="username">Cong Tuan</p>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque veritatis
      dolores delectus, fugiat quos adipisci tempora minima, facere minus itaque
      saepe officiis deserunt quas velit provident perferendis suscipit tenetur
      dignissimos.
    </p>
  </div>
</div>
<div class="footer text-end mx-3">
  <small>12 minutes ago</small>
</div>
